#map {
    height: 100%;
    position: relative;
  }
  
 html, body{
   height: 100%;
   margin: 0;
   padding: 0;
 }
  
  #choose {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    border: 1px solid;
    text-align: center;
    font-family: "Arial", "sans-serif";
    line-height: 20px;
    padding-left: 10px;
  }